<h1>Travis Malmquist's page</h1>

<p>
Welcome to Travis' page. Here lies stuff.</p>

<h2>Here we have:</h2>

<ul>
<li>Words</li>
<li>A picture</li>
<li>Other stuff</li>
<li><%= link_to "My other Page", "https://quizlet.com", target: "_blank" %></li>
</ul>


 <%= image_tag "2015-09-02 07.44.25.jpg", height: 300 %>

